{% extends 'base.html.twig' %}

{% block title %}Hello DataLoadController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/soukh/OneDrive/Bureau/les3ordress/les3ordress/src/Controller/DataLoadController.php'|file_link(0) }}">src/Controller/DataLoadController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/soukh/OneDrive/Bureau/les3ordress/les3ordress/templates/data_load/index.html.twig'|file_link(0) }}">templates/data_load/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
